extend layout

block content
  p
    | Lorem Ipsum is simply dummy text of the printing and typesetting industry.
  p
    | Lorem Ipsum has been the industry's standard dummy.
  p
    | Contrary to popular belief, Lorem Ipsum is not simply random text.

block sidebar
  .widget
    h1 Black Smith by PRTR
    p
      | Sed auctor neque eu tellus rhoncus ut
      | eleifend nibh porttitor. Ut in nulla enim.
    
    p
      | Vivamus hendrerit arcu sed erat molestie
      | vehicula.

